

<div ng-show="cart.success" class="alert alert-success row">
  <div class="col-md-6"> {{ cart.success }}</div>
</div>

<table  class="table table-striped" summary="Inventory">
<thead class="thead-inverse">
  <tr>
        <th>Product Details</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
    </tr>
</thead>
<tbody>

    <tr ng-repeat="good in cart.currentUser.cart">
        <td><a href="/#/{{good.seller.name}}/{{good.good_id}}">{{good.good}}</a></td>
        <td>			<input type='number'
                ng-model="good.quantity"
                ng-model-options='{ debounce: 300 }'
                ng-change='cart.checkQuantity(good)'
              />
        </td>
        <td>{{(good.price*good.quantity) | currency}}</td>
        <div ng-show="good.error" class="alert alert-danger row">
          <span>{{good.error}}</span>
        </div>

        <td><img class="pointer" ng-click="cart.removeFromCart($index)" src="images/trash.png" alt="" title="" border="0" /></td>
    </tr>
  </tbody>

</table>
<div class="row">
	<div class="col-md-3">
		<h5><b>Totals:</b></h5>
	</div>
	<div class="col-md-3">
		<h5>{{cart.totals.totalPrice | currency}}</h5>
	</div>
	<div class="col-md-3">
		<h5>{{cart.totals.totalQuantity}}</h5>
	</div>
  <div class="col-md-3">
    <button class="btn btn-primary" ng-if="cart.currentUser.cart.length>0" ng-disabled="cart.submissionError" ng-click="cart.purchase()">Purchase</button>
</div>

</div>
