

<div ng-show="cart.success" class="alert alert-success row">
  <div class="col-md-6"> {{ cart.success }}</div>
</div>

<div class="row">
<table  class="table table-striped col-md-12" summary="Inventory">

<thead class="thead-inverse">
  <tr>
        <th class="width-20">Product</th>
        <th class="width-20">Quantity</th>
        <th class="width-20">Price</th>
        <th class="width-20">Delivery Fee</th>
        <th class="width-20">Remove</th>
    </tr>
</thead>
<tbody>

    <tr ng-repeat="good in cart.currentUser.cart">
        <td class="width-20"><a href="/#/{{good.seller.name}}/{{good.good_id}}">{{good.good}}</a></td>
        <td class="width-20">
        	<input type='number'
            ng-model="good.quantity"
            ng-model-options='{ debounce: 300 }'
            ng-change='cart.checkQuantity(good)'
          />
	        <div ng-show="good.error" class="alert alert-danger row">
	          <span>{{good.error}}</span>
	        </div>
        </td>
        <td class="width-20">{{(good.price*good.quantity) | currency}}</td>
        <td class="wodth-20"> {{good.delivery_fee | currency}}</td>

        <td class="width-20"><img class="pointer" ng-click="cart.removeFromCart($index)" src="images/trash.png" alt="" title="" border="0" /></td>
    </tr>
  </tbody>

</table>
</div>

<div class="row center">
	<div class="col-md-3">
		<h5><b>Total:</b></h5>
	</div>
	<div class="col-md-3">
		<h5>{{cart.totals.totalQuantity}}</h5>
	</div>
	<div class="col-md-3">
    <h5>{{cart.totals.totalPrice | currency}}</h5>

	</div>
  <div class="col-md-3">
    <button class="btn btn-primary" ng-if="cart.currentUser.cart.length>0" ng-disabled="cart.submissionError" ng-click="cart.purchase()">Purchase</button>
</div>

</div>
