

<div ng-show="cart.success" class="alert alert-success row">
  <div class="col-md-6"> {{ cart.success }}</div>
</div>
<!-- <div class="page-header">
	<div class="row">
		<div class="col-md-4">
			<h4>Product Details</h4>
		</div>
		<div class="col-md-4">
			<h4>Price</h4>
		</div>
		<div class="col-md-4">
			<h4>Quantity</h4>
		</div>
	</div>
</div>
	<div class="row" ng-repeat="good in cart.currentUser.cart">
		<div class="col-md-4">
			<p class="capitalize">{{good.seller.name}}</p>
			<b class="capitalize"><a href="/#/{{good.seller.name}}/{{good.good_id}}">{{good.good}}</a></b>
			<p ng-click="cart.removeFromCart($index)">Remove</p>
		</div>
		<div class="col-md-4">
			<b>{{(good.price*good.quantity) | currency}}</b>
		</div>
		<div class="col-md-4">
			<input type='number'
        ng-model="good.quantity"
        ng-model-options='{ debounce: 300 }'
        ng-change='cart.checkQuantity(good)'
    	/>
      <div ng-show="good.error" class="alert alert-danger row">
        <span>{{good.error}}</span>
      </div>

		</div>
		<hr />
	</div>
	<div ng-if="cart.currentUser.cart.length==0" class="alert alert-info text-center row" style="margin-top:20px;">
    <span>You have no goods in your cart.</span>
  </div>
<hr />
<div class="row">
	<div class="col-md-4">
		<h5><b>Totals:</b></h5>
	</div>
	<div class="col-md-4">
		<h5>{{cart.totals.totalPrice | currency}}</h5>
	</div>
	<div class="col-md-4">
		<h5>{{cart.totals.totalQuantity}}</h5>
	</div>
</div>
<hr />

<button class="btn btn-primary" ng-if="cart.currentUser.cart.length>0" ng-disabled="cart.submissionError" ng-click="cart.purchase()">Purchase</button> -->

<div class="row">
<table  class="table table-striped col-md-12" summary="Inventory">

<thead class="thead-inverse">
  <tr>
        <th class="width-25">Product Details</th>
        <th class="width-25">Quantity</th>
        <th class="width-25">Price</th>
        <th class="width-25">Remove</th>
    </tr>
</thead>
<tbody>

    <tr ng-repeat="good in cart.currentUser.cart">
        <td class="width-25"><a href="/#/{{good.seller.name}}/{{good.good_id}}">{{good.good}}</a></td>
        <td class="width-25">
        	<input type='number'
            ng-model="good.quantity"
            ng-model-options='{ debounce: 300 }'
            ng-change='cart.checkQuantity(good)'
          />
	        <div ng-show="good.error" class="alert alert-danger row">
	          <span>{{good.error}}</span>
	        </div>
        </td>
        <td class="width-25">{{(good.price*good.quantity) | currency}}</td>

        <td class="width-25"><img class="pointer" ng-click="cart.removeFromCart($index)" src="images/trash.png" alt="" title="" border="0" /></td>
    </tr>
  </tbody>

</table>
</div>

<div class="row">
	<div class="col-md-3">
		<h5><b>Total:</b></h5>
	</div>
	<div class="col-md-3">
		<h5>{{cart.totals.totalPrice | currency}}</h5>
	</div>
	<div class="col-md-3">
		<h5>{{cart.totals.totalQuantity}}</h5>
	</div>
  <div class="col-md-3">
    <button class="btn btn-primary" ng-if="cart.currentUser.cart.length>0" ng-disabled="cart.submissionError" ng-click="cart.purchase()">Purchase</button>
</div>

</div>
