<div class="page-header">
  <div class="row">
    <div ng-show="favorites.favorites.length===0" class="alert alert-danger row">
        You have no favorites!
    </div>
    <div ng-repeat="good in favorites.favorites">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-lg-3 good-item text-center capitalize" href="/#/{{good.seller._id}}/{{good._id}}">
            <h2>{{good.name}}</h2>
            <p>{{good.seller.username}}<br>
            {{good.unitOfSale}}/{{good.unitOfMeasurement}} {{good.pricePerUnit | currency}}</p>
            <a href="/#/{{good.seller._id}}/{{good._id}}">Details</a>
        </div>
    </div>
  </div>
</div>