<div ng-show="good.success" class="alert alert-success row">
  <div class="col-md-6">{{ good.success }}</div>
</div>
<div ng-show="good.error" class="alert alert-danger row text-center">
  <div class="col-md-6">{{ good.error }}</div>
</div>
<div class="row">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div ng-controller="TabsCtrl">
            <div class="preview-pic tab-content" >
              <uib-tabset active="1" justified="true">
                <uib-tab ng-repeat="tab in good.good.images" heading="{{tab.title}}">
                  <div class="tab-pane"><img ng-src="https://s3-us-west-2.amazonaws.com/farmtomeal-useruploads/{{tab}}" /></div>
                </uib-tab>
            </uib-tabset>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li ng-repeat="image in good.good.images"><a ng-click="good.good.images[$index].active = true"><img ng-src="https://s3-us-west-2.amazonaws.com/farmtomeal-useruploads/{{image}}" /></a></li>
              <!-- <li><a ng-click="tabs[1].active = true"><img src="/images/foodphotos/brown-eggs.jpg" /></a></li>
              <li><a ng-click="tabs[2].active = true"><img src="/images/foodphotos/chestnuts.jpg" /></a></li>
              <li><a ng-click="tabs[3].active = true"><img src="/images/foodphotos/green-peas.jpg" /></a></li>
              <li><a ng-click="tabs[4].active = true"><img src="/images/foodphotos/pak-choi.jpg" /></a></li> -->
            </ul>
          </div>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{good.good.name}}</h3>
          <div class="rating">
            <span>Producer: <a href="#/users/{{good.good.seller._id}}" class="capitalize">{{good.good.seller.username}}</a></span>
          </div>
          <p class="product-description">{{good.good.description}}</p>
          <h4 class="price">Price: <span>{{good.good.pricePerUnit | currency}}/{{good.good.unitOfSale}} {{good.good.unitOfMeasurement}}</span></h4>
          <h5 class="sizes">Type:
            <span>{{good.good.type}}</span>
          </h5>
          <h5 class="sizes">Category:
            <span>{{good.good.category}}</span>
          </h5>
          <div ng-if="good.currentUser.username!=good.good.seller">
            <div ng-controller="ButtonsCtrl">
              <h5 class="sizes">Pickup or Delivery</h5>
                  <div class="btn-group">
                      <label class="btn btn-primary" ng-model="good.good.delivery" uib-btn-radio="'pickup'" uibButtonConfig="active">Pickup</label>
                      <label class="btn btn-primary" ng-model="good.good.delivery" ng-disabled="!good.good.can_deliver"  uib-btn-radio="'delivery'">Delivery</label>
                  </div>
            </div>
            <h5 class="colors">

              <span ng-if="good.good.delivery=='delivery'">
                <b>Delivery Fee:</b> {{good.good.delivery_fee | currency}}<br>
                <b>Estimated Delivery Time:</b> {{good.good.delivery_time}}<br>
              </span><br>

              <span ng-if="good.good.delivery=='pickup'">
                <!-- pickup -->
              </span>
            </h5>

            <label>
              Quantity
            </label>

            <select ng-model="good.userQuantity" ng-options="n for n in [] | limitQuantitySelectable:good.good.quantityForSale"></select>
            <!-- <select ng-model="good.userQuantity">
              <option ng-repeat="q in good.quantity" ng-if="q<=good.good.quantityForSale" value="{{q}}">{{q}} {{parseFloat(q)<=parseFloat(good.good.quantityForSale)}}</option>
            </select> --><br>
              Total: {{good.good.pricePerUnit*good.userQuantity+(good.good.delivery=='delivery' ? good.good.delivery_fee : 0) | currency}}<br>
              <button ng-click="good.addToCart()" type="button" class="add-to-cart btn btn-success">Add to Cart</button>
              <button onclick="history.back()" type="button" class="add-to-cart btn btn-warning">Back</button>
          </div>

          <!-- <div class="action">
            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
