<div class="container-fluid">
      <div ng-repeat="(category,categoryGoods) in goods.goods" class="row" id="{{category}}">
        <h2 class="capitalize">{{category}}</h2>
        <div ng-if="categoryGoods.length==0" class="alert alert-success row text-center">
          <span>There are currently no {{category}} listing, please check back later.</span>
        </div>
        <div ng-repeat="good in categoryGoods">
          <div class="clearfix" ng-if="$index % 3 == 0&&good.quantityForSale>0"></div>

            <div class="col-lg-5 good-item text-center" ng-if="good.quantityForSale>0" href="/#/{{good.seller}}/{{good._id}}">
              <a href="/#/{{good.seller}}/{{good._id}}">
              <div class="col-lg-12">
              <h3 class="capitalize">{{good.name}}</h3>
              <p class="capitalize">Sold by: {{good.seller}}<br>
              {{good.unitOfSale}}/{{good.unitOfMeasurement}} {{good.pricePerUnit | currency}}</p>
              </div>
              </a>
              <hr>
              <div class="btn-group" role="group" aria-label="...">
                <!--  <button type="button" class="btn btn-info">Details</button> -->
                <button type="button"class="btn btn-success" ng-if="goods.currentUser.favorites.indexOf(good._id)<0" ng-click="goods.favoriteGood(good._id)">Favorite</button>
                <button type="button"class="btn btn-success" ng-if="goods.currentUser.favorites.indexOf(good._id)>=0" ng-click="goods.unfavoriteGood(good._id)">Unfavorite</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add to Cart <span class="caret"></span></button>
              </div>

        </div>
      <div ng-if="goods.goods.length==0" class="alert alert-info text-center row" style="margin-top:20px;">
        <span>There are currently no goods of this type right now.</span>
      </div>
    </div>
  </div>

<div class="row">
  <div ng-controller="pagination-controller">
      <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>
  </div>
</div>
</div>
