
<div class="row">
  <div ng-show="good.error" class="alert alert-danger row text-center">
    <span>{{ good.error }}</span>
  </div>
  <div class="col-md-12" >
        <h2 class="capitalize">
          {{good.good.name}} <br>
        </h2>
        <div class="col-md-3">
<!-- Image will go here -->
        </div>
  </div>
</div>
      <div class="row">
        <div class="col-md-12">
          <p>Price: {{good.good.pricePerUnit | currency}}/{{good.good.unitOfSale}} {{good.good.unitOfMeasurement}}</p>
          <p class="capitalize">Description: {{good.good.description}}</p>
          <p class="capitalize">Type: {{good.good.type}}</p>
          <p class="capitalize">Category: {{good.good.category}}</p>
          <p>Producer: <a href="#/users/{{good.good.seller}}" class="capitalize">{{good.good.seller}}</a></p>
        </div>
  </div>

  <div ng-if="good.currentUser.username!=good.good.seller">
  <label>
    Quantity
  </label>
  <select ng-model="good.userQuantity">
    <option ng-repeat="q in good.quantity" ng-if="q<=good.good.quantityForSale" value="{{q}}">{{q}}</option>
  </select><br>

<label>Pickup or Delivery</label>
<select ng-model="good.good.delivery">
  <option value=""></option>

  <option ng-disabled="!good.good.can_deliver" value="delivery">Delivery</option>
  <option value="pickup">Pickup</option>
</select><br>

<span ng-if="good.good.delivery=='delivery'">
  <b>Delivery Fee:</b> {{good.good.delivery_fee | currency}}<br>
  <b>Estimated Delivery Time:</b> {{good.good.delivery_time}}<br>
</span><br>

<span ng-if="good.good.delivery=='pickup'">
  <!-- pickup -->
</span><br>

Total: {{good.good.pricePerUnit*good.userQuantity+(good.good.delivery=='delivery' ? good.good.delivery_fee : 0) | currency}}<br>
<button ng-click="good.addToCart()" type="button" class="btn btn-success">Add to Cart</button>
<button ng-click="good.addToCart()" type="button" class="btn btn-warning">Back</button>
<div ng-show="good.success" class="alert alert-success row" style="margin-top:20px;">
  <span>{{ good.success }}</span>
</div>
  </div>
</div>
