<div class="page-header">
  <h1>Farmers Market</h1>
</div>

<div>
  <p>Welcome to Farmers Market, your online realtor for purchasing the best local goods currently available.</p>
</div>
<!-- <div class="row">
  <h2>Filters</h2>
  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Price"
    ng-model="main.price"></input>
  </div>
  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Type"
    ng-model="main.type"></input>
  </div>
</div> -->

<div ng-repeat="good in main.goods | goodsFilter:main.price:main.type | orderBy:'-price'">
  <span style="font-size:20px;" ng-if="good.forSale==true">
    <span>
      <h2>
        {{good.name}} - {{good.price | currency}}
      </h2>
    </span>
    <span>
      <p>Quantity: {{good.quantity}} -
      Description: {{good.description}}</p>
    </span>
    <span>
      <a href="#/users/{{good.seller}}">{{good.seller}}</a>
    </span>
    <span>
      <a href="#/{{good.seller}}/{{good._id}}">Details</a>
    </span>
  </span>
</div>

<div ng-hide="main.isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>