<!-- currentUser && farmer -->
<!-- lists out farmers inventory -->


<div ng-if="user.user.username==user.currentUser.username&&user.user.farmer==1">
  <h1>
    Dashboard
  </h1>
    <h3>
      Your Inventory
    </h3>
      <table class="table-striped">
        <thead>
          <tr style="padding:10px;">
            <th width="25%">Good</th>
            <th width="40%">Quantity Remaining</th>
            <th width="25%">Price Per Unit</th>
            <th width="25%">Update</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="good in user.goods">
            <td width="25%">{{good.name}}</td>
            <td width="40%">{{good.quantityForSale}}</td>
            <td width="25%">{{good.pricePerUnit | currency}}</td>
            <td width="25%"><a href="/#/goods/{{good._id}}/update">Update</a></td>
          </tr>
        </tbody>
      </table>


      <table id="rounded-corner" summary="Inventory">
      <thead>
        <tr>
            <th scope="col" class="rounded-company"></th>
              <th scope="col" class="rounded">Good</th>
              <th scope="col" class="rounded">Quantity Remaining</th>
              <th scope="col" class="rounded">Price Per Unit</th>
              <th scope="col" class="rounded">Update</th>
              <th scope="col" class="rounded-q4">Delete</th>
          </tr>
      </thead>
          <tfoot>
        <tr>
            <td colspan="6" class="rounded-foot-left">
              <div ng-controller="pagination-controller">
                       <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>
              </div></td>
            <td class="rounded-foot-right">&nbsp;</td>

          </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="good in user.goods">
            <td><input type="checkbox" name="" /></td>
              <td>{{good.name}}</td>
              <td>{{good.quantityForSale}}</td>
              <td>{{good.pricePerUnit | currency}}</td>
              <td>Update</td>

              <td><a href="#"><img src="images/user_edit.png" alt="" title="" border="0" /></a></td>
              <td><a href="#" class="ask"><img src="images/trash.png" alt="" title="" border="0" /></a></td>
          </tr>


      </tbody>
      </table>

      <a href="#" class="bt_green"><strong>Add new item</strong></a>
       <a href="#" class="bt_blue"><strong>View all items from category</strong></span></a>
       <a href="#" class="bt_red"><strong>Delete items</strong></a>




    <!-- <div class="col-md-6">
      <h3>
        Your Inventory
      </h3>
      <div class="row" ng-repeat="good in user.goods">
        <h4>{{good.name}}</h4>
        <b>Quanity Remaining:</b> {{good.quantityForSale}}<br>
        <b>Price Per Unit:</b> {{good.pricePerUnit | currency}}<br>
        <a href="/#/goods/{{good._id}}/update">Update</a>
      </div>
    </div> -->
    <!-- <div class="col-md-6">
      <h3>
        Orders Sold
      </h3>
      <div class="row" ng-repeat="good in user.purchases">
        <h4>{{good.good}}</h4>
        <b>Quanity Remaining:</b> {{good.quantity}}<br>
        <b>Price:</b> {{good.price | currency}}<br>
        <b>Buyer:</b> {{good.buyer}}<br>
      </div>
    </div> -->
</div>


<!-- currentUser && !farmer -->
<div ng-if="user.user.username==user.currentUser.username&&user.user.farmer==0">
  <h1>
    Dashboard
  </h1>
  <div class="row">
    <h3>
      Your Orders
    </h3>
    <div class="row" ng-repeat="good in user.purchases">
      <h4>{{good.good}}</h4>
      <b>Quanity Remaining:</b> {{good.quantity}}<br>
      <b>Price:</b> {{good.price | currency}}<br>
      <b>Seller:</b> {{good.seller}}<br>
    </div>
  </div>
</div>

<!-- !currentUser && farmer -->
<div ng-if="user.user.username!=user.currentUser.username&&user.user.farmer==1">
  <div class="row">
    <h3>
      Goods {{user.user.username}} has for sale.
    </h3>
    <div class="row" ng-repeat="good in user.goods">
      <b class="capitalize">{{good.name}}</b>
      <p class="capitalize">{{good.seller}}<br>
      {{good.unitOfSale}}/{{good.unitOfMeasurement}} {{good.pricePerUnit | currency}}<br>
      <a href="/#/{{good.seller}}/{{good._id}}">Details</a><br></p>
    </div>
</div>
