<form ng-submit="goods.newGood()"
	ng-show="goods.isLoggedIn()">
  <h3>Post new Good</h3>

  <div ng-show="goods.error" class="alert alert-danger row">
    <span>{{ goods.error }}</span>
  </div>

  <div class="form-group">
    <label>
      Name
    </label>
    <input type="text"
      class="form-control"
      placeholder="Name"
      ng-model="goods.goodDetails.name" required></input>
  </div>

  <!-- type & category & quantity -->
  <div class="form-group row">
    <div class="col-md-4">
      <label>
        Type
      </label><br>
      <select ng-model="goods.goodDetails.type" required>
        <option value="produce">Produce</option>
        <option value="dairy">Dairy</option>
        <option value="meat">Meat</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>
        Category
      </label><br>
      <select ng-model="goods.goodDetails.category">
        <option ng-repeat="category in goods.categories[goods.goodDetails.type]" value="{{category}}" required>{{category}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>
        Quantity
      </label><a href="" class="new-good-tooltip" title="This is the total quantity you have available and are willing to sell." data-toggle="tooltip" data-placement="top" tooltip> <span class="glyphicon glyphicon-question-sign"></span></a>
      <input type="text"
      class="form-control"
      placeholder="Quantity"
      ng-model="goods.goodDetails.quantityForSale" required></input>
    </div>
  </div>

  <!-- units & price per unit -->
  <div class="form-group row">
    <div class="col-md-4">
      <label>
        Unit of Measurement
      </label><a href="" class="new-good-tooltip" title="The unit of measurement that this is sold in." data-toggle="tooltip" data-placement="top" tooltip> <span class="glyphicon glyphicon-question-sign"></span></a><br>
      <select ng-model="goods.goodDetails.unitOfMeasurement" required>
        <option value="lb">LBs</option>
        <option value="oz">Oz</option>
        <option value="fl oz">Fl Oz</option>
        <option value="count">Count</option>
        <option value="bunch">Bunch</option>
        <option value="head">Head</option>
        <option value="pint">Pint</option>
      </select>
    </div>

    <div class="col-md-4">
      <label>
        Unit of Sale
      </label><a href="" class="new-good-tooltip" title="Quantity that is sold per unit." data-toggle="tooltip" data-placement="top" tooltip> <span class="glyphicon glyphicon-question-sign"></span></a>
      <input type="text"
        class="form-control"
        placeholder="Unit of Sale"
        ng-model="goods.goodDetails.unitOfSale"></input>
    </div>

    <div class="col-md-4">
      <label>
        Price per Unit
      </label><a href="" class="new-good-tooltip" title="Price per unit of sale." data-toggle="tooltip" data-placement="top" tooltip> <span class="glyphicon glyphicon-question-sign"></span></a>
      <input type="text"
        class="form-control"
        placeholder="Price per Unit"
        ng-model="goods.goodDetails.pricePerUnit"></input>
    </div>
  </div>

  <!-- description -->
  <div class="form-group">
    <label>
      Description
    </label>
    <input type="textbox"
    class="form-control"
    placeholder="Desciption"
    ng-model="goods.goodDetails.description"></input>
  </div>

  <!-- delivery options -->
  <div class="form-group">
    <label>
      Available for Delivery:
    </label>
    <input type="checkbox"
    ng-model="goods.goodDetails.can_deliver"></input>
  </div>

  <div class="form-group row" ng-if="goods.goodDetails.can_deliver">
    <div class="col-md-6">
      <label>
        Delivery Fee
      </label><br>
      <input type="textbox"
        class="form-control"
        placeholder="Delivery Fee"
        ng-model="goods.goodDetails.delivery_fee"></input>
    </div>

    <div class="col-md-6">
      <label>
        Est. Delivery Time
      </label><br>
      <input type="textbox"
        class="form-control"
        placeholder="Est. Delivery Time"
        ng-model="goods.goodDetails.delivery_time"></input>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
