<!-- currentUser && farmer -->
<!-- lists out farmers inventory -->

<div class="container-fluid" ng-if="user.user.username==user.currentUser.username&&user.user.farmer==1">
<div class="row">
  <h1>
    Dashboard
  </h1>
</div>
<div ng-controller="TabsDemoCtrl" class="col-md-12">
<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Your Inventory">
    <div class="container-fluid">
      <div class="row">
        <table class="table table-striped" summary="Inventory">
          <thead class="thead-inverse">
            <tr>
              <th scope="col" class="width-30">Good</th>
              <th scope="col" class="width-30">Quantity Remaining</th>
              <th scope="col" class="width-30">Price Per Unit</th>
              <th scope="col" class="width-5"></th>
              <th scope="col" class="width-5"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="good in user.goods">
              <td class="width-30">{{good.name}}</td>
              <td class="width-30">{{good.quantityForSale}}</td>
              <td class="width-30">{{good.pricePerUnit | currency}}</td>
              <td class="width-5"><a href="/#/goods/{{good._id}}/update"><img src="images/user_edit.png" alt="" title="" border="0" /></a></td>
              <td class="width-5"><a ng-click="user.prepareForDeletion(good)" data-toggle="modal" data-target="#deleteGoodModal" class="ask"><img src="images/trash.png" alt="" title="" border="0" /></a></td>
            </tr>
          </tbody>
        </table>
        <a href="/#/new" ><button type="button" class="btn btn-success" aria-label="Add New Item">
          Add new item
        </button></a>
        </div>
         <!-- <a href="/#/new" ><button type="button" class="btn btn-warning" aria-label="Delete Items"> -->

   <!-- Delete items
   </button></a> -->
      <!-- Replace with inventory logic -->
       <div ng-if="cart.currentUser.cart.length==0" class="alert alert-info text-center row" style="margin-top:20px;">
         <span>You have no goods in your cart.</span>
       </div>
       <!-- <div class="col-md-6">
        <h3>
          Your Inventory
        </h3>
        <div class="row" ng-repeat="good in user.goods">
          <h4>{{good.name}}</h4>
          <b>Quanity Remaining:</b> {{good.quantityForSale}}<br>
          <b>Price Per Unit:</b> {{good.pricePerUnit | currency}}<br>
          <a href="/#/goods/{{good._id}}/update">Update</a>
        </div>
      </div> -->
      <!-- <div class="col-md-6">
        <h3>
          Orders Sold
        </h3>
        <div class="row" ng-repeat="good in user.purchases">
          <h4>{{good.good}}</h4>
          <b>Quanity Remaining:</b> {{good.quantity}}<br>
          <b>Price:</b> {{good.price | currency}}<br>
          <b>Buyer:</b> {{good.buyer}}<br>
        </div>
      </div> -->

      <!-- ========================= -->
      <!-- === DELETE GOOD MODAL === -->
      <!-- ========================= -->
      <div id="deleteGoodModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center">Are you sure you want to delete {{user.goodToDelete.name}}?</h4>
            </div>
            <div class="modal-body text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="user.theyDontWantToDeleteThisGood()">No, I don't want to delete {{user.goodToDelete.name}}.</button><br><br><br>
              <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="user.deleteGood(user.goodToDelete._id)">Yes, delete it.</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ========================= -->
      <!-- === DELETE GOOD MODAL === -->
      <!-- ========================= -->
    </div>

  </uib-tab>
  <uib-tab index="1" heading="Your Orders">
    <div class="container-fluid">
      <div class="row" style="margin-top:10px;margin-bottom:10px;pad:10px;">
        <div class="form-group center">
          <label>Search Goods Sold and Buyers:</label><input class="width-70 search-field" ng-model="user.orderSearch"/></input>
        </div>
      </hr>
        <label>Delivery Status</label>
        <select name="deliveryStatus" ng-model="user.deliveryStatus">
          <option value="false">N/A</option>
          <option value="1">Delivered</option>
          <option value="0">Not Delivered</option>
        </select>
      </div>
      <div>
        <table  class="table table-striped" summary="Inventory">
        <thead class="thead-inverse">
          <tr>
                <th scope="col" class="width-10" ng-click="user.updateSort('created_at')">Date</th>
                <th scope="col" class="width-20" ng-click="user.updateSort('good')">Good</th>
                <th scope="col" class="width-10" ng-click="user.updateSort('quantity')">Sold</th>
                <th scope="col" class="width-20" ng-click="user.updateSort('delivered')">Status</th>
                <th scope="col" class="width-20" ng-click="user.updateSort('price')">$ Amount</th>
                <th scope="col" class="width-20" ng-click="user.updateSort('buyer')">Buyer</th>
            </tr>
        </thead>
        <tbody>

          <tr ng-repeat="good in user.purchases | filterPurchases:user.orderSearch:user.deliveryStatus:'buyer' | orderBy:user.sortBy:user:reverseSort">
                <td class="width-10">{{good.created_at | date:'M/d'}}</td>
                <td class="width-20">{{good.good}}</td>
                <td class="width-10">{{good.quantity}}</td>
                <td class="width-20">
                  <select name="delivered" ng-model="good.delivered" ng-change="user.updateDeliveryStatus(good)">
                    <option value="true">Delivered</option>
                    <option value="false">Not Delivered</option>
                  </select>
                </td>
                <td class="width-20">{{good.price*good.quantity | currency}}</td>
                <td class="width-20">{{good.buyer}}</td>
          </tr>
          <tr>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
</div>
  </div>

</div>

<!-- currentUser && !farmer -->
<div ng-if="user.user.username==user.currentUser.username&&user.user.farmer==0">
  <div class="row">
      <h3>
        Your Orders
      </h3>
      <div class="row" style="margin-top:10px;margin-bottom:10px;pad:10px;border-top:2px solid #000;border-bottom:2px solid #000;">
        <label>Search Goods Sold and Sellers:</label><input class="width-70" ng-model="user.orderSearch" /></input>
        <label>Delivery Status</label>
        <select name="deliveryStatus" ng-model="user.deliveryStatus">
          <option value="false">N/A</option>
          <option value="1">Delivered</option>
          <option value="0">Not Delivered</option>
        </select>
      </div>
      <div>
        <table  class="table table-striped" summary="Inventory">
        <thead class="thead-inverse">
          <tr>
                <th scope="col" class="width-10">Date</th>
                <th scope="col" class="width-20">Good</th>
                <th scope="col" class="width-10">Sold</th>
                <th scope="col" class="width-20">Status</th>
                <th scope="col" class="width-20">$ Amount</th>
                <th scope="col" class="width-20">Seller</th>
            </tr>
        </thead>
        <tbody>

          <tr ng-repeat="good in user.purchases | filterPurchases:user.orderSearch:user.deliveryStatus:'seller'">
                <td class="width-10">{{good.created_at | date:'M/d'}}</td>
                <td class="width-20">{{good.good}}</td>
                <td class="width-10">{{good.quantity}}</td>
                <td class="width-20">
                  <select name="delivered" ng-model="good.delivered" ng-change="user.updateDeliveryStatus(good)">
                    <option value="true">Delivered</option>
                    <option value="false">Not Delivered</option>
                  </select>
                </td>
                <td class="width-20">{{good.price*good.quantity | currency}}</td>
                <td class="width-20 capitalize">{{good.seller}}</td>
          </tr>
            <tr>

          </tr>

          </tbody>
          <tfoot>
            <!-- Need to make this do something -->
            <tr align="right">
              <td align="right"><button class="btn btn-success" value="update">Update</button></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

</div>

<!-- !currentUser && farmer -->
<div class="container-fluid" ng-if="user.user.username!=user.currentUser.username&&user.user.farmer==1">
  <div class="row">
    <h1>
      {{user.user.username}}'s Goods
      <!-- <span ng-click="user.messageUser()" data-toggle="modal" data-target="#sendMessageModal">
        Message User
      </span> -->
    </h1>
    <div class="container-fluid">
      <h2>Current Goods</h2>
      <div class="row">
            <div ng-repeat="good in user.goods"  class="col-md-3 good-item text-center" ng-if="good.quantityForSale>0" href="/#/{{good.seller}}/{{good._id}}">
              <a href="/#/{{good.seller}}/{{good._id}}">
              <div class="col-lg-12">
              <h3 class="capitalize">{{good.name}}</h3>
              <p class="capitalize">
              {{good.unitOfSale}}/{{good.unitOfMeasurement}} {{good.pricePerUnit | currency}}</p>
              </div>
              </a>
              </div>
        </div>
        <h2>Past Goods</h2>
        <div ng-repeat="good in user.goods"  class="col-md-3 good-item text-center" ng-if="good.quantityForSale<=0" href="/#/{{good.seller}}/{{good._id}}">
          <a href="/#/{{good.seller}}/{{good._id}}">
          <div class="col-lg-12">
          <h3 class="capitalize">{{good.name}}</h3>
          <p class="capitalize">
          {{good.unitOfSale}}/{{good.unitOfMeasurement}} {{good.pricePerUnit | currency}}</p>
          </div>
          </a>
        </div>
      <div class="row" ng-if="goods.emptyResults">
        <div class="col-lg-8 col-lg-offset-2">
          <h2 class="capitalize text-center">{{goods.label}}</h2>
          <div class="alert alert-success text-center row" style="margin-top:20px;">
            <span>There are currently no goods of this type right now.</span>
          </div>
        </div>
      </div>
    </div>

    <!-- ========================== -->
    <!-- === SEND MESSAGE MODAL === -->
    <!-- ========================== -->
    <div id="sendMessageModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Contact User</h4>
          </div>
          <div class="modal-body text-center" ng-if="!user.successfullySentMessage">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" id="comment" ng-model="user.message"></textarea>
            <button type="button" class="btn btn-default" ng-click="user.sendMessage()">Send Message</button><br><br><br>
            <p class="text-center">This will send a message and an email to <span class="capitalize">{{user.user.userName}}</span> so that they can get back to you as quickly as possible.
              However, if you have attachements or would prefer to simply email them directly, you can contact them at <a href="meailto:{{user.user.email}}">{{user.user.email}}</a>.
            </p>
          </div>

          <div class="modal-body text-center" ng-if="user.successfullySentMessage">
            <p>Your message has been sent to {{user.userName}}, along with an email notifying them.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button><br><br><br>
          </div>

        </div>

      </div>
    </div>
    <!-- ========================== -->
    <!-- === SEND MESSAGE MODAL === -->
    <!-- ========================== -->
  </div>

</div>
